.formAuthorization {
  width: 400px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #d0d5da;
  border-radius: 10px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 30%);

  .fields {
    width: 360px;
    height: 50px;
  }
}
